


/*=============================================
                  audio-button
=============================================*/
.tab-audio-button {
   display: none !important;
}


/*==============hide pinned colse accidentally ================*/

#tabbrowser-tabs[orient="vertical"] {
  &[expanded] {
    & .tabbrowser-tab {
      &:is(:hover) .tab-close-button:not([selected]) {
         &[pinned]:not([pending="true"]):not([zen-essential]) {
        display: none !important;
      }
    }
  }
 }
}


/*======================================================================
              bigger selected icons
======================================================================*/

:root {
  /* Configuration variables */
  --icon-scale: 1.4;
  --transition-speed: 0.3s;
  --transition-timing: ease-in-out;
  --transform-offset: -20%;


/* Base icon styling */
.tab-icon-image {
  scale: 1;
  transition: 
    transform var(--transition-speed) var(--transition-timing),
    scale var(--transition-speed) var(--transition-timing) !important;
}

/* Selected/multi-selected tab styling */
.tab-icon-image[selected],
.tabbrowser-tab[multiselected="true"].tab-icon-image {
  scale: var(--icon-scale);
}

/* Hover effect for tabs */
.tabbrowser-tab:hover .tab-icon-image {
  scale: var(--icon-scale);
  transform: translate(var(--transform-offset), 0);
}

/* Special container styling */
.tabbrowser-tab:not([zen-glance-tab="true"]) .tab-icon-image,
.zen-essentials-container > .tabbrowser-tab .tab-icon-image,
.zen-essentials-container > .tabbrowser-tab .tab-icon-overlay {
  transform: translate(0, 0) !important;
}

/* Combined transform for non-pinned tabs */
.tabbrowser-tab:not(
  /*[pinned="true"], 
  */
  [zen-essential="true"],[zen-glance-tab="true"]) .tab-icon-image[selected] {
  transform: translate(var(--transform-offset), 0);
}
}
.tabbrowser-tab:is([zen-glance-tab="true"]) {
  scale: .7 !important;
  border: 0px !important;
}


.tabbrowser-tab:not([pinned="true"],[zen-essential="true" ])
.tab-background:is([selected],[multiselected="true"])
    {
      background: var(--zen-colors-primary) !important;
      border: 2px solid rgba(100,100,100,.6) !important;
}


/*Better Unloaded Tabs*/

.tabbrowser-tab[pending="true"]:not(:hover) {
    filter: grayscale(.5) !important;
    Opacity:.5 !important;
  Transition: .5s !important;
}

.zen-current-workspace-indicator {
  padding: calc(15px + var(--zen-toolbox-padding)) calc(40px + var(--tab-inline-padding));}

/*=extensions button =*/
#unified-extensions-button {
list-style-image: url(https://parsefiles.back4app.com/JPaQcFfEEQ1ePBxbf6wvzkPMEqKYHhPYv8boI1Rc/09b386539e96eaba459d78717018f9d9_low_res_Zen_Browser.png) !important;
   }

zen-workspace {
  & > arrowscrollbox {
    &, & .zen-workspace-normal-tabs-section {
      height: 88% !important;
    }
  }
}

zen-workspace {
  padding-bottom: 35px !important;}

#zen-media-controls-toolbar {
  &:not([hidden]) {
    bottom: -9px !important;
  }
}



/*====================================  
            compact extensions
=================================== */

#unified-extensions-view{
  
  --uei-icon-size: 20px !important;
  --extensions-in-row: 4;

  width: 100% !important;
  
  /* hide not needed */
  #unified-extensions-description,
  toolbarseparator,
  .unified-extensions-item-menu-button.subviewbutton,
  .unified-extensions-item-action-button .unified-extensions-item-contents
  {display: none !important;}
  
  /* spacing */

  .panel-header {margin-top: 0px !important;
                  display: none !important;
               }

  [data-l10n-id="unified-extensions-header-title"]::before
  {margin-inline-end: 14px !important;}

  #unified-extensions-manage-extensions
  {padding-left: 10px !important;}

  #unified-extensions-messages-container::empty
  {margin: 0px !important;}
  
  #overflowed-extensions-list
  {padding-bottom: 5px !important;}
  
  #unified-extensions-area
  {padding-block: 5px !important;}
  
  .unified-extensions-list
  {padding-top: 5px !important;}
  
  /* grid layout */
  #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat( var(--extensions-in-row), calc(var(--uei-icon-size) + 22px) );
    justify-items: center !important;
    align-items: center !important;
  }
  
  /* buttons */
  .unified-extensions-item{
    padding: 1px !important;
    border-radius: var(--zen-border-radius) !important;
    
    .unified-extensions-item-icon,
    .toolbarbutton-badge-stack
    {margin: 0px !important;}
    
    .unified-extensions-item-action-button 
    {padding-inline: 5px !important;}
    
  }
  
  /* top & bottom borders */
  #unified-extensions-area {
    border-top: 1px solid var(--panel-separator-color);
    border-bottom: 1px solid var(--panel-separator-color);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
  /* Hide top   */
  #unified-extensions-messages-container,
  #overflowed-extensions-list{
    display: none !important;
  }

}



  
/*============================
          bookmarks
==============================*/

    
      & #TabsToolbar-customization-target {
    & > :is(toolbaritem, toolbarbutton):not(#search-container):not(#zen-workspaces-button), & #tabbrowser-arrowscrollbox-periphery > toolbarbutton {
      & label { width: 0% !important;}}
      }
  xul|description, xul|label {
  margin-block: 0px!important;
  margin-inline: 0px!important;
        
}
  #personal-bookmarks{
    position: relative !important;
    order: 0 !important;
    margin:  var(--zen-toolbox-padding)  0px var(--zen-toolbox-padding) 0px!important;
    height: 25px!important;
    padding: 0px 0px 0px 0px !important;
    margin-inline: 0px !important;
    min-width: -moz-available !important;
    width: 0px !important;
    contain: inline-size !important;
   /*  background: var(--zen-toolbar-element-bg) !important; */
    border-radius: var(--zen-border-radius) !important;

    /* chevron */
    #PlacesChevron{
      .toolbarbutton-text 
      {display: none !important;}
      border-radius: 15px !important;
      margin: 0px !important;
      opacity: 0.5 !important;
      &:not([open]):hover{
        background-color: var(--toolbarbutton-hover-background) !important;
        outline-color: var(--toolbarbutton-hover-outline-color) !important; 
      }
      &[open]{
         opacity: 1 !important;
        background-color: var(--toolbarbutton-active-background) !important;
        outline-color: var(--toolbarbutton-active-outline-color) !important;
      }
    }
    
    /* bookmark bar items space in between */
    #personal-toolbar-empty-description,
    toolbarbutton.bookmark-item:not(.subviewbutton) {
      margin: 0px!important;
      padding: var(--bookmark-block-padding) 1px!important;
      margin-inline-start: 5px !important;  
      opacity: 0.5 !important;
      &:hover{
      opacity: 1 !important;
        
      }
    }
    
    
    
/*text */
      /*.menu-text,*/.bookmark-item {
      flex: auto !important;
      font-family: 'Poppins', sans-serif !important;
      font-size: 13.7px !important;
      font-weight: 380 !important;
      transition: all .1s ease-in-out !important;
      :hover{
          font-size: 14px !important;
        }  
      }
    
    .menu-highlightable-text{
      display: none !important;
      }

  }



/* Hide folder icons in the bookmarks toolbar */
  .bookmark-item[container="true"] .toolbarbutton-icon {
    display: none;
  }
/* Hide bookmark labels */
 #personal-bookmarks .bookmark-item:not([container]) .toolbarbutton-text {
    display: none !important;
  }



/*===================================
                findbar
===================================*/

/* animation */
@keyframes findbar-animation {
  from {
    top: -70px;
    opacity: 0;
  }

  to {
    top: var(--zen-element-separation);
    opacity: 1;
  }
}

findbar {
  /* setup for animation */
  &:is([hidden="true"]) {
    visibility: inherit !important;
    pointer-events: none !important;
    opacity: 0 !important;
    top: -70px !important;
  }
  
  animation: findbar-animation 0.2s ease;

  transition: all .15s !important;
    
  /* base styles */
  position: absolute;
  flex-wrap: wrap;
  opacity: 1;

  /* position */
  top: calc(var(--zen-element-separation) * .5 - 1px);
  right: calc(var(--zen-element-separation) * .5 - 1px);
  
  width: min(560px, calc(33% - var(--zen-element-separation) + 2px));
  min-height: 70px;
  height: auto !important;
  
  /* background */
  background: color-mix(in srgb, var(--zen-colors-tertiary) 100%, transparent 0%) !important;
  backdrop-filter: blur(18px) !important;
  border: 2px solid var(--arrowpanel-border-color) !important;
  border-radius: var(--zen-border-radius) !important;

  &:has(.findbar-textbox:is([status="notfound"])) 
  { /*background: light-dark(rgba(255, 246, 46,.5), rgba(255, 100, 200,.5)) !important;
    */
    border: 2px solid red !important;
  }
  
   &:has(.findbar-textbox:is([status="found"])) 
  { /*background: light-dark(rgba(255, 246, 46,.5), rgba(255, 100, 200,.5)) !important;
    */
    border: 2px solid green !important;
  }
  
  /* integrated close button */
  .findbar-closebutton{
    position: absolute !important;
    right: 10px;
    top: 9px;
  }
  
  [anonid="findbar-textbox-wrapper"]
  {padding-right: 28px !important;}
  
  /* container */
  .findbar-container {
    margin-inline: 10px !important;
    margin-bottom: 5px !important;
    flex-wrap: wrap;
    height: auto !important;
    row-gap: 10px;
  }
  
  /* search container */
  [anonid="findbar-textbox-wrapper"] {
    width: 100% !important;
    margin-top: 5px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;
    
    /* icon */
    &::before {
      content: "";
      width: 16px !important;
      min-width: 16px !important;
      background-image: url(chrome://global/skin/icons/search-glass.svg) !important;
      background-repeat: no-repeat;
      margin-top: 4px;
      margin-right: 15px;
      margin-left: 5px;

      @media (prefers-color-scheme: dark) {filter: invert();}
    }
    
    /* clean textbox */
    .findbar-textbox {
      background: none !important;
      padding: 0 !important;
      font-size: 16px !important;
      box-shadow: none !important;
      width: 100% !important;
      border: none !important;
    }
  }
  
  /* some margins */
  toolbarbutton {
    width: 24px !important;
    justify-content: space-between !important;
    padding: 4px !important;
    margin-left: 4px !important;
    margin-right: 0 !important;
  }
  
  checkbox, label, description {
    margin-left: 4px !important;
    margin-right: 6px !important;
  }
  
  .checkbox-label {font-size: 12.5px !important;}
  
  /* all labels */
  .findbar-label {
    display: flex;
    flex-basis: 100%;
    
    font-size: 14px !important;
    margin-top: 10px !important;

    &:is([hidden="true"]) {display: none;}
  }

  /* found label */
  .found-matches:not([hidden])::before {
    background-image: url('chrome://browser/skin/zen-icons/search-page.svg') !important;
    background-repeat: no-repeat !important;
    padding-left: 25px !important;
    color: black !important;

    @media (prefers-color-scheme: dark) {filter: invert();}
  }
  
  /* status label */
  .findbar-find-status {
    display: none;
    &:is([data-l10n-id]) {display: flex;}
  }
  
  /* not found label */
  .findbar-label[status="notfound"] {
    margin-left: 4px !important;
    margin-top: 10px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    flex-basis: 100% !important;

    /* icon */
    &::before {
      content: "";
      min-width: 17px !important;
      min-height: 17px !important;
      background-image: url(chrome://global/skin/icons/close.svg) !important;
      margin-right: 8px !important;

      @media (prefers-color-scheme: dark) {filter: invert();}
    }
  }

}

/*======================================================================
      TEXT    Apply Poppins only to common text elements
======================================================================*/

.tab-label {
   font-family: 'Poppins', sans-serif !important;
   font-size: 15px !important;
  font-weight: 400 !important;
   transition: all .1s ease-in-out !important;
  
  &&:is([selected],[multiselected="true"]) {
   font-size: 18px !important;
   font-weight: 450 !important;
  }
}



/*======================================================================
          downloads-indicator-progress
======================================================================*/
#downloads-indicator-progress-outer::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: -40;
  background: var(--toolbar-field-background-color);
}

/*======================================================================
                      sidebar transparent
======================================================================*/
:root[lwt-sidebar] , #sidebar-box 
, .sidebar-panel 
,.content-container 
,.content-scrollable 
, .sidebar-browser-stack{
  --sidebar-background-color: transparent !important;
  background: transparent !important;
}



/*======================================================================
                            Kill statuspanel
======================================================================*/
#statuspanel {
    display: none !important;
  } 
  


  
  
  
  
  
  
 /* ============================
  ============================
  ============================
  ============================
  ============================*/
  
  

/*======================================================================
                                URL
======================================================================*/
  
:root[customizing] #TabsToolbar-customization-target {
  visibility: visible !important;
}

.zen-workspace-pinned-tabs-section {
  display: flex !important;
  flex-direction: column;
  gap: 0px;
}


:root[zen-single-toolbar="true"]{

#translations-button,
#shopping-sidebar-button,  
#identity-permission-box,
#identity-box.extensionPage, 
#identity-box.chromeUI,  
#identity-box.localResource,
#star-button-box,
#urlbar-zoom-button,
#identity-icon-label,
#blocked-permissions-container,
#tracking-protection-icon-container,
#pageAction-panel-bookmark,
#translations-button ,
#reader-mode-button,
#picture-in-picture-button,
#zen-split-views-box
  
{ display: none !important;} 
  

  
 #identity-box ,
  #star-button-box[tooltiptext="Bookmark this page (⌘D)"]{
      order: 1 !important;
    }

  
.urlbar-input{
   font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
   font-weight: 380 !important;
transition: all 1s ease-in-out !important;
  
    text-align: center !important;
    position: relative;
}
  
 

 #urlbar[breakout]:not(:hover):not([focused]):not(:has(*[open])) 
  > :is(.urlbar-searchmode-and-input-box-container,.urlbar-input-container){
& > *:not(#urlbar-scheme,
  .urlbar-input-box,  .urlbar-input ,
  #identity-box:is(.chromeUI, .localResource):not([pageproxystate="invalid"]) #identity-icon-box:not([open])
    )
  , .urlbar-page-action
  , #star-button-box[tooltiptext="Bookmark this page (⌘D)"]

  {
     text-align: center !important;
    opacity: 0 !important;
    transition: all .3s ease-in-out !important;
    transform: translateX(100%) !important;
}
  
     
&& #page-action-buttons{
   display: ruby-base-container !important;
opacity: 0 !important;
transition: all .3s ease-in-out !important;
transform: translateX(0%) !important;  
  margin-inline-start: calc(-8px - 2 * var(--urlbar-icon-padding))
    }
}
  
  #pageAction-urlbar-udaygirhepunje41arc-like-copy-link_gmail_com,
  #star-button-box[tooltiptext="Bookmark this page (⌘D)"],
  #pageAction-urlbar-copy-frame-url_jeffersonscher_com,
  #pageAction-urlbar-_036a55b4-5e72-4d05-a06c-cba2dfcc134a_
  {
    display: inherit !important;
    
     
  }
}
#urlbar[breakout-extend="true"] {
  & #urlbar-background {
    background-color: light-dark( hsl(0, 0%, 100%), color-mix(in srgb, hsla(0, 0%, 1%, 1) 50%, var(--zen-colors-primary) 48%) ) !important;
    box-shadow: 0px 0px 0px 3000px color-mix(in srgb, hsla(0, 0%, 1%, 1) 70%, var(--zen-colors-primary) 0%) !important;
 
  }
}


/* =========================================================================
               PINNED EXTENSIONS (Keeps Dark Background & Shadow) 
==================================================================================== */
/* Pinned extensions */

#TabsToolbar-customization-target {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: calc(var(--zen-toolbox-padding) - 0px) !important;
  padding-top: 12px !important;
 
  #tabbrowser-tabs {
    min-width: 100% !important;
    height: calc(100% - 0px) !important;
  }
  
  #Zen-tabs-wrapper {
    max-height: 700px !important;
  }
  
  .unified-extensions-item-action-button {
    padding: 0px !important;
  }
  
  /* Pinned Extensions */

  .unified-extensions-item
  , .toolbarbutton-1:not(
   [class="toolbarbutton-1 chromeclass-toolbar-additional zen-workspaces-actions"]  
   ,[id="tabs-newtab-button"]
     ,[id="PlacesChevron"]
    ,[id="PlacesToolbarItems"]){
   /*  margin: 0px 0px var(--zen-toolbox-padding) 0px !important;*/
    margin-inline: 2px !important;
    border-bottom: 0px !important;
    padding: 0px  !important;
    height: 22px !important;
    width: 22px !important;
    flex-grow: 1 !important;
    order: -1 !important;
    box-shadow: 0 0px 3px light-dark(rgba(255, 255, 255, 0.2),rgba(0, 0, 0, 0.2)) !important;
    border-radius: calc(var(--zen-border-radius)  - 0px) !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    opacity: .7 !important;
    :hover {
       opacity: 1 !important;
    }

   
    stack {
      --toolbarbutton-active-background: transparent !important;
      --toolbarbutton-hover-background: transparent !important;
    }

    .toolbarbutton-badge {
      display: none !important;
    }

    .toolbarbutton-text {
      display: none !important;
    } 
  }

  .unified-extensions-item:hover {
    background-color:  var(--toolbarbutton-hover-background) !important;
    box-shadow: 0 0px 3px light-dark(rgba(255, 255, 255, 0.95),rgba(0, 0, 0, 0.95)) !important;
  border: 3px solid red;
  }
}



zen-workspace {
  & > arrowscrollbox {
    &[overflowing] {
      padding-bottom: 20px !important;
    }
  }
}

/*======================================================================
                Tab height
======================================================================*/
.tab-background {
min-height: calc(var(--tab-min-height) * .8) !important;
}
  
.zen-essentials-container {
  :root[zen-single-toolbar="true"] &:not(:empty) {
    padding-top: 0px !important;
  }
}



/*===========================================
          sort-button , clear-button 
============================================*/


 .pinned-tabs-container-separator{
    margin-top: 1px !important;
    height: 15px !important;
    max-height: 15px !important;
     border-radius: var(--zen-border-radius) !important;
     margin-bottom: 1px !important;
     &:before{
           transition: all .2s ease-in !important; 
           border-radius: var(--zen-border-radius) !important;
           opacity: .3 !important;
           background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 45%, /* Top: Fully transparent */
    var(--sidebar-text-color) 50%, /* Middle: Semi-transparent white */
    rgba(255, 255, 255, 0) 55% /* Bottom: Fully transparent */
  ) !important;
    }
     #sort-button {
    margin-top: -1px !important;
    padding: 0px !important;
    color:var(--toolbar-color) !important;
       &:hover{
          color:var(--sidebar-text-color)!important;
       }
    }
  
   #clear-button {
    margin-top: 0px !important;
    padding: 0px !important;
     color:var(--toolbar-color) !important;
      &:hover{
          color: var(--sidebar-text-color)!important;
       }
    }
}





/*================================================
                context-menuitem
===============================================*/
.menu-icon {
  width: 16px !important;
  height: 16px !important;
}


menuitem:is([id=context-reload],[id="context-back"],[id=context-forward]
,[id=context-bookmarkpage]) {
  display: none !important;
  }

menupopup, panel {
  width: -webkit-fill-available !important;
  max-width: 100% !important;
  --menuitem-padding: 2px !important;
  margin-left:  -5px !important;
  margin-top: 0px !important;
 
}


.openintabs-menuitem{
  display: none !important;
}



/*======================================================================
                        PIP
======================================================================*/
#zen-media-buttons-hbox {
    display: ruby-base-container;
  }
#zen-media-pip-button {
      display: revert !important;
}
  



/*======================================================================
                    back-forward-button
======================================================================*/
#back-button[disabled] {
    display: none !important;
  }
#back-button {
    transition: all 1s ease-in-out !important;
  }
#forward-button {
    display: none !important;
  }

/* scrollbar - none */
#tabbrowser-tabs , #zen-browser-tabs-wrapper {
  scrollbar-width: none !important;
  
}


/*======================================================================
                        copy link icon
======================================================================*/
  #pageAction-urlbar-copy-frame-url_jeffersonscher_com {
    list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/copy_link.svg") !important;
    scale: 1;
    filter: brightness(var(--icon-brightness)) !important;
  }  

  #zen-sidebar-icons-wrapper{
    background: transparent !important;
}


#TabsToolbar { -moz-window-dragging: no-drag !important; }

 #historySwipeAnimationNextArrow,
#historySwipeAnimationPreviousArrow 

{display: none;
  &
  #zen-appcontent-wrapper{
   transform: translate(0%, -00%)!important;
   Transition: .1s !important;
}
}




/*=====================================
             sidebar 
=======================================*/


:root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) {
#navigator-toolbox{
  #titlebar{
    border-radius: var(--zen-border-radius) !important;
  backdrop-filter: blur(15px) !important;
  overflow: hidden !important;
    background-color: var(--zen-main-browser-background-toolbar)
  }}}


